.chatContainer {
  display: flex;
  flex-direction: column;
}
.chatContainer > textarea {
  border: none;
  outline: none;
  resize: none;
  width: 250px;
  height: 150px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 2px;
  caret-color: rgb(65, 131, 74);
  padding: 15px;
  font-size: 1rem;
}
.chatContainer > textarea::placeholder {
  font-size: 1rem;
}

.chatContainer > button {
  border: 1px solid rgb(214, 214, 214);
  outline: none;
  transition: 0.5s;
  border-radius: 2px;
  margin-top: 5 px;
}
.chatContainer > button:hover {
  background-color: rgb(160, 204, 160);
}
